<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AuthenticationContext"
            providerName="System.Data.SqlClient"
            connectionString="Server=PXSNOTEBOOK; Database=UsersTablesForLabDay1Homework; User ID=TestUser81kQncsOc32vs36ebu;Password=3SZ9_AEferX>EQZhgcVN2j@Mb=vkM3SyjcHgVffsg1NrBiO9Mjlcs913l0g7QP0" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None"/>
  </system.web>
  <system.webServer>
    <handlers>
      <!--<add name="JsonHandler" path="ContactsGeneric.json" verb="*" type="Lab.Day1.Homework.JsonAndAjax.ContactJsonHandler" resourceType="Unspecified" preCondition="integratedMode" />-->
      <add name="AsyncImageHandler" path="*.jpg" verb="GET" type="Lab.Day1.Homework.JsonAndAjax.CustomHandlers.ImageAsyncHandler" resourceType="File" preCondition="integratedMode" />
      <!--<add name="AsyncLoginRegisterIndexPage" path="index.html" verb="GET" type="Lab.Day1.Homework.JsonAndAjax.CustomHandlers.DefaultPageRouterHandler" resourceType="Unspecified" preCondition="integratedMode"/>-->
      <add name="JsonClassHandler" path="Contacts.json" verb="*" type="Lab.Day1.Homework.JsonAndAjax.CustomHandlers.ContactsClassHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add name="AuthenticationModule" type="Lab.Day1.Homework.JsonAndAjax.CustomModules.AuthorizationModule, Lab.Day1.Homework.JsonAndAjax, Version=1.0.0.0, Culture=neutral" />
    </modules>
    <security>
      <!--<authentication>
        <windowsAuthentication enabled="false"/>
        <basicAuthentication enabled="false"/>
        <anonymousAuthentication enabled="false"/>
        <clientCertificateMappingAuthentication enabled="false"/>
        <digestAuthentication enabled="false"/>
        <iisClientCertificateMappingAuthentication enabled="false"/>
      </authentication>-->
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>